@import "../../../scss/variables";

:host {
  display: block;
}

.searchResult {
  display: flex;
  align-items: center;

  padding: 8px;

  border-bottom: $border;

  &--image {
    width: 50px;
    height: 75px;
    flex-shrink: 0;
  }

  &--info {
    padding-left: 15px;
  }

  &--year {
    font-size: 14px;
    color: $gray;
  }

  &--genres {
    font-size: 14px;
    color: $gray;
  }
}
