$header-height: 50px;

$border: 1px solid gray;

// Breakpoints
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

$font-primary: "Open Sans", sans-serif;

$color-primary: white;
$color-secondary: rgb(245, 197, 24);
$color-danger: rgb(255, 42, 42);

$background-secondary: rgb(209, 169, 22);

$gray: rgb(145, 145, 145);
$light-gray: rgb(189, 189, 189);
$dark-gray: rgb(18, 18, 18);
