@import "../../../scss/variables";
@import "../../../scss/mixins";

.details {
  color: white;
  width: 100%;

  &--poster {
    &-xs {
      @include media($sm) {
        display: none;
      }
    }

    &-sm {
      display: none;
      @include media($sm) {
        display: block;
      }
      @include media($md) {
        display: none;
      }
    }

    &-md {
      display: none;
      @include media($md) {
        display: block;
      }
      @include media($lg) {
        display: none;
      }
    }

    &-lg {
      display: none;
      @include media($lg) {
        display: block;
      }
      @include media($xl) {
        display: none;
      }
    }

    &-xl {
      display: none;
      @include media($xl) {
        display: block;
      }
      @include media($xxl) {
        display: none;
      }
    }

    &-xxl {
      display: none;
      @include media($xxl) {
        display: block;
      }
    }
  }

  &--image {
    position: relative;

    &-backdrop {
      app-image {
        @include media($sm) {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          max-height: 350px;
          object-fit: none;
          object-position: right top;
        }
        @include media($md) {
          height: 430px;
          width: auto;
          max-height: fit-content;
          object-fit: none;
        }
        @include media($lg) {
          height: 439px;
        }
        @include media($xl) {
          height: 600px;
        }
        @include media($xxl) {
          height: 720px;
        }
      }

      &-gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.8883928571428571) 25%,
          rgba(0, 0, 0, 0) 100%
        );

        @include media($md) {
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 35%,
            rgba(0, 0, 0, 0.3617822128851541) 100%
          );
        }
      }
    }

    &-container {
      position: absolute;
      top: 20px;
      bottom: 20px;
      padding: 0 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;

      @include media($md) {
        padding: 0;
      }
    }

    &-poster {
      flex-shrink: 0;

      &-image {
        border-radius: 5px;
      }
    }

    &-rating {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 5px;
      font-size: 14px;
      background-color: rgba($color: black, $alpha: 0.7);
      border-bottom-left-radius: 5px;

      @include media($md) {
        display: none;
      }

      &-high {
        color: green;
      }
      &-normal {
        color: orange;
      }
      &-low {
        color: red;
      }
    }

    &-info {
      display: none;
      @include media($md) {
        display: block;
      }
    }
  }

  &--info {
    @include media($md) {
      display: none;
    }
  }

  &--title {
    margin-left: 15px;
  }

  &--details {
    margin: 5px 0;
    padding: 5px 15px;
    background: $dark-gray;

    &-value {
      font-size: 14px;
      @include media($md) {
        font-size: 16px;
      }
    }
  }

  &--detail {
    padding: 5px 0;
  }

  &--detail:first-child {
    padding-top: 0;
  }

  &--detail:last-child {
    padding-bottom: 0;
  }

  &--recommendations {
    background-color: $dark-gray;
    padding: 5px 15px;
  }

  &--personalNote {
    padding: 5px 15px;
  }
}
