@import "../../../../scss/variables";

.movieCard {
  color: white;
  position: relative;

  &--img {
    width: 100%;
  }

  &--rating {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba($color: black, $alpha: 0.7);

    width: 40px;
    height: 40px;
    line-height: 40px;

    display: flex;
    justify-content: center;

    font-size: 14px;

    border-bottom-right-radius: 5px;

    &-high {
      color: green;
    }
    &-normal {
      color: orange;
    }
    &-low {
      color: red;
    }
  }

  &--addToFavourites {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: black, $alpha: 0.7);
    border-radius: 0;
    border-bottom-left-radius: 5px;

    border: none;
    cursor: pointer;

    .material-icons {
      color: $color-secondary;
    }
  }
}
